.z-guide-div {
  background-color: #C4C4C4;
  height: 80px;
  width: fit-content;
  margin: auto;
  margin-bottom: 7%;
  padding-top: 3px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
}

.z-guide-p {
  font-size: 0.9em;
  font-weight: bold;
}