.z-guide-div {
  height: 80px;
  margin: auto;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
  border: 2px solid #84D5D5;
}

.z-guide-h4 {
  font-size: 0.93em;
  font-weight: 600;
  margin-bottom: -1.5%;
}

.z-guide-p {
  font-size: 0.84em;
  font-weight: 500;
  margin-bottom: 0.5%;
}