.z-email-p {
  font-weight: 600;
  margin-left: 1%;
  margin-bottom: 0;
}

.z-emailTitle-input {
  width: 96%;
  height: 30px;
  border: 0;
  margin-bottom: 2%;
  background-color: #EDEDED;
  box-shadow: 4px 2px 2px #dadada;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
}

.z-emailText-input {
  width: 96%;
  height: 80px;
  border: 0;
  background-color: #EDEDED;
  box-shadow: 4px 2px 2px #dadada;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.z-email-button {
  margin-top: 3%;
  padding: 13px;
  float: right;
  border: 0;
  background-color: #6AC9C6;
  box-shadow: 4px 2px 2px #dadada;
  font-weight: 600;
  border-radius: 10px;
}