.z-table {
  width: 100%;
  padding-top: 7px;
  text-align: center;
  background: white;
}

.z-short-hr {
  position: absolute;
  margin-top: 0;
  width: 57.3%;
}

.z-padding {
  height: 10px;
}

.z-td {
  padding-bottom: 10px;
  font-weight: 500;
}