.z-party-div {
  margin-top: 3%;
}

.z-party-h1 {
  display: inline;
  color: #6AC9C6;
}

.z-apply-h4 {
  display: inline;
}

.z-h3 {
  margin-bottom: 0;
}

.z-de-step-div button {
  width: fit-content;
  padding: 10px;
  margin-top: 0%;
  margin-right: 7px;
  margin-bottom: 5px;
  font-size: medium;
  border: 0px;
}

.z-department-h4 {
  margin-top: 5%;
}

.z-applicant-p {
  display: inline;
  color: #6AC9C6;;
  font-weight: 700;
  font-size: 1.1em;
}

.z-competition-p {
  color: #6AC9C6;;
  font-weight: 600;
  font-size: 1.0em;
  margin-top: 8px;
}
